.main-card {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.lesson-title {
  font-size: 20px;
  padding: 15px 30px;
}

.lesson-content {
  padding: 0 15px 15px 15px;
  line-height: 1.5;
}

.sections-name {
  margin: 0;
  padding: 0;
}

ol.sections-name {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
}
ol.sections-name > li {
  counter-increment: my-awesome-counter;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
ol.sections-name > li::before {
  content: counter(my-awesome-counter);
  color: #1E3F57;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background: #93ACA7;
  font-size: 30px;
  padding: 30px;
}
ol.sections-name .lesson-details {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 30px;
  background: white;
  min-width: 600px;
}
