body {
  font-family: "Open Sans";
}

.main-card {

}

.dotted-bg {
  background: linear-gradient(90deg, white 15px, transparent 1%) center, linear-gradient(white 15px, transparent 1%) center, #224159;
  background-size: 16px 16px;
}

.gradient {
  background: rgb(96, 108, 136);
  background: linear-gradient(
    to bottom,
    rgb(96, 108, 136) 0%,
    rgb(63, 76, 107) 100%
  );
}

.navbar {
  border-bottom: 1px solid #ccc;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 20px;
  margin: inherit;
  padding: inherit;
  font-weight: bold;
  color: #224159;
}

.navbar h2 {
  font-size: 14px;
  margin: inherit;
  padding: inherit;
  text-transform: uppercase;
  color: white;
}

.jumbotron {
  padding: 0;
}

.jumbotron .courseInfo,
.jumbotron .courseIcon {
  padding: 20px;
}

.jumbotron .courseIcon {
  text-align: center;
}

@media (min-width: 1000px) {
  .jumbotron {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .jumbotron .courseInfo,
  .jumbotron .courseIcon {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .jumbotron .courseInfo  {
    padding: 4em 15%;
  }
  .jumbotron .courseIcon {
    padding: 4em 7%;
  }
}

.jumbotron h1, .jumbotron h2 {
  color: #224159;
}

.jumbotron h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.jumbotron .courseInfo {
  background: #D29964;
}

.jumbotron .courseIcon {
  background: #93ACA7;
}

.jumbotron .courseIcon img {
  max-width: 180px;
}

.author {
  display: flex;
}

.author .info {
  padding: 10px;
}

.author .name {
  font-size: 18px;
  font-weight: bold;
}

.author .company {
  font-size: 16px;
}

.author .image {
  border-radius: 75px;
  overflow: hidden;
  height: 75px;
  width: 75px;
}

.navbar-brand.navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.navbar-brand.navbar-brand:hover {
  color: #D29964;
}

.navbar-brand.navbar-brand:focus {
  color: #93ACA7;
}

.lesson-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 40px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #fff;
  border-radius: 5px;
  margin-top: 40px;
}

.lesson {
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
  overflow: scroll;
}

.lesson > h1 {
  color: #DFA067;
  font-size: 24px;
}

.lesson h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.lesson h2::after {
  content: "";
  display: block;
  height: 3px;
  margin-top: 5px;
  background: #DFA067;
  max-width: 300px;
}

.lesson p {
  clear: both;
}

.lesson p,
.lesson li {
  line-height: 180%;
}

.lesson-links {
  font-size: 18px;
  padding: 15px 0;
}

.next {
  float: right;
}

.prev {
  float: left;
}

.lesson-title {
  text-transform: uppercase;
  font-weight: bold;
}

.klipse-result {
  border: 1px solid #90b4fe;
  padding-top: 8px;
  position: relative;
  width: 100%;
}

.klipse-result .CodeMirror-wrap {
  width: 100%;
  border-color: transparent;
}

.klipse-result::before {
  content: "result";
  background-color: white;
  position: absolute;
  top: -13px;
  height: 13px;
}

.language-htm,
.language-css,
.language-js,
.language-json {
  width: 100%;
}

.gatsby-highlight {
  /* border: 1px solid black; */
  padding: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
}

.CodeMirror-wrap {
  width: 100%;
  font-size: 12px;
  height: inherit;
  margin-bottom: 12px;
}

.CodeMirror-gutters {
  height: inherit !important;
}

.klipse-snippet > .CodeMirror {
  border: none;
  width: 100%;
}

.gatsby-highlight > .klipse-snippet {
  border: 1px solid #90b4fe;
  width: 100%;
  border-right: none;
  position: relative;
  margin-bottom: 15px;
}

.doggos {
  width: 100%;
  border: 1px solid #666;
  border-radius: 5px;
}
